/* Missing properties (see resubmission review):  float, padding, border */
/* [whole-pg] 'background-color = firebrick;' ?? (How do you set entire page's background color?)*/ 

body {
  text-align: left; 
}
 
body.my-name-and-img {  
  text-align: center; 
} 

body h1 {  
  font-size: 36pt;
  font-weight: bold; 
  text-decoration: underline; 
  color: darkgray; 
  /*text-align: center;*/  
} 
 
img { 
  margin: auto; 
  width: 20%; 
  /*height: 50%; */ 
  box-sizing: border-box;
  
}
 
.post-AST2 {
  text-indent: 5cm; 
  font-size: 10pt;  
}
 
p {
  font-family: 'Times New Roman', Times, serif; 
  font-size: 14pt; 
} 
 
h2 {
  text-decoration: underline; 
  color: darkmagenta;
} 

.Epicodus-projects-list.p {
  font-size: 8pt;
}

h2.aboutme { 
  color: firebrick; 
}
/* Remove this line of whitespace */ 
h3 {
  font-style: oblique;

} 


h4 {


} 


/*
h5 {


} */ 

a {
  color: blue; 
} 

.prog-lang-lgd {
  font-style: italic; 
} 
