/* Missing properties (see resubmission review):  float, padding, border */
body {
  text-align: left;

}

/* Remove this line of whitespace */ 
body my-name-and-img { 
  text-align: center; 
} 

/* Remove this line of whitespace */ 
body h1 {  
  font-size: 36pt;
  font-weight: bold; 
  text-decoration: underline; 
  color: darkgray;
} 

/* Remove this line of whitespace */ 
body img{ 
  margin: auto; 
  float: left; 
  width: 50%; 
  height: 50%; 
}

/* Remove this line of whitespace */ 
.post-AST2 {
  text-indent: 5cm; 
  font-size: 10pt; 
/* Remove this line of whitespace */ 
}

/* Remove this line of whitespace */ 
p {
  font-family: 'Times New Roman', Times, serif; 
  font-size: 14pt; 
} 

/* Remove this line of whitespace */ 
h2 {
  text-decoration: underline; 
} 

.Epicodus-projects-list.p {
  font-size: 8pt;
}

/* Remove this line of whitespace */ 
h3 {


} 


h4 {


} 


h5 {


}


a {
  color: blue; 
/* Remove this line of whitespace */ 
} 


.prog-lang-lgd {
  font-style: italic; 
/* Remove this line of whitespace */ 
} 


